---
import Layout from "../components/Layout.astro";
import Grid from "../components/Grid.astro";
import PageBanner from "../components/PageBanner.astro";
---

<Layout title="Get involved">
  <PageBanner slot="banner" title="Volunteering" />
  <div class="my-8 flex flex-col">
    <Grid>
      <div class="lg:col-span-3 flex flex-col justify-center">
        <div
          class="bg-weegee-teal rounded-3xl p-2 flex flex-col justify-start gap-3 md:col-span-2 group cursor-pointer no-underline transition-transform duration-500 ease-in-out hover:-translate-y-1 relative"
        >
          <img
            src="/assets/pens.webp"
            alt="Coloured pens and art materials"
            class="w-full h-full object-cover rounded-2xl"
            loading="lazy"
          />
        </div>
      </div>
      <div class="lg:col-span-5 my-12 flex flex-col justify-center">
        <p>
          We can't do what we do without you. We need you to join us: whether
          it's for an hour, an event or a weekend, you will help make a huge
          difference to us and the people that we welcome.
        </p>
        <p>
          Volunteering roles available can change week to week, depending on the
          need and availability. For the most up to date list of volunteering
          opportunities available or more information on volunteering generally
          the best first step is to email us at <a
            href="mailto:volunteering@refuweegee.co.uk"
            >volunteering@refuweegee.co.uk</a
          >.
        </p>
        <p>
          We regularly run events at George Square and they are an excellent way
          to get familiar with our space and meet our team of staff and
          volunteers. We encourage everyone to use our space before volunteering
          in it!
        </p>
      </div>
    </Grid>

    <Grid />

    <Grid>
      <div
        class="lg:col-span-5 my-12 lg:col-start-4 flex flex-col justify-center"
      >
        <h2 class="mb-4">Volunteer social</h2>
        <p>
          Every 6 weeks we get together to celebrate all things volunteering!
          Its a great mix of new volunteers, long serving volunteers and people
          who have never volunteered but want to know more! To find out the date
          of our next social just follow the link to our Events page.
        </p>
      </div>
      <div class="lg:col-span-3 flex flex-col justify-center">
        <div
          class="bg-weegee-teal rounded-3xl p-2 flex flex-col justify-start gap-3 md:col-span-2 group cursor-pointer no-underline transition-transform duration-500 ease-in-out hover:-translate-y-1 relative"
        >
          <img
            src="/assets/group.webp"
            alt="Coloured pens and art materials"
            class="w-full h-full object-cover rounded-2xl"
            loading="lazy"
          />
        </div>
      </div>
    </Grid>

    <Grid>
      <div class="lg:col-span-3 flex flex-col justify-center">
        <div
          class="bg-weegee-teal rounded-3xl p-2 flex flex-col justify-start gap-3 md:col-span-2 group cursor-pointer no-underline transition-transform duration-500 ease-in-out hover:-translate-y-1 relative"
        >
          <img
            src="/assets/drawing.webp"
            alt="Coloured pens and art materials"
            class="w-full h-full object-cover rounded-2xl"
            loading="lazy"
          />
        </div>
      </div>
      <div class="lg:col-span-5 my-12 flex flex-col justify-center">
        <h2 class="mb-4">Corporate volunteering</h2>
        <p>
          We are constantly blown away by the positive impact teams of corporate
          volunteers can make in just one day. We love seeing groups come
          together to make a difference and regularly host teams of up to 12
          people, who dedicate their volunteering hours to helping us run core
          services and create a safe and welcoming space for all.
        </p>
        <p>
          Whether it is sorting clothing donations, assisting customers in our
          free shop or simply making someone a cuppa and giving them a chance to
          practice their English - there are volunteering roles suited to
          everyone!
        </p>
        <p>
          If your team would like to spend some time supporting our mission at
          Refuweegee, please get in touch with Lily our Corporate Relations
          Coordinator at volunteering@refuweegee.co.uk
        </p>
      </div>
    </Grid>
  </div>
</Layout>
