---
import Layout from "../components/Layout.astro";
import Grid from "../components/Grid.astro";
---

<Layout title="Safe with me campaign" pageBackground="bg-black">
  <Grid>
    <div class="lg:col-span-6 flex justify-end">
      <img
        src="/assets/safe.webp"
        alt="Safe With Me campaign poster"
        class="size-2/3"
      />
    </div>
    <div class="lg:col-span-5 text-white my-12">
      <p>
        We're asking businesses, public spaces and individuals to identify
        themselves as a safe place in these times of rising hate.
      </p><p>
        By completing your details below you identify your business or street
        (if completing as an individual) as being a safe place. You will then
        show up in our list of safe places and in our soon to launch map, where
        we hope to gather thousands of safe spaces across Scotland...and beyond!
      </p><p>
        The idea is that if someone is experiencing hate they can easily
        identify you or your business as a safe place to go.
      </p><p>
        Businesses and public spaces (and individual homes if they so wish!) can
        complete the form below to appear on our list and map. You can also
        download a poster for your window here. These can be collected from us
        at Refuweegee HQ, 24 George Square during our opening hours. The posters
        then identify the locations that display them, as a safe spaces.
      </p><p>
        Pin badges are now available at Refuweegee HQ...and soon to be available
        is various shops across the city! Get in touch with us at
        enquiries@refuweegee.co.uk if you would like to stock them. All profits
        going direct to supporting refugees in Glasgow and Scotland.
      </p><p>
        This is simple community awareness and sharing of the good that we see
        every day. Join us.
      </p><p>Be <span class="font-bold">SAFE WITH ME.</span></p>
    </div>
  </Grid>
</Layout>
